

@model Tp1.ViewModels.MovieCustomerViewModel

<h1>Customer DetailS</h1>

<h2>Movie</h2>
<p>Name: @Model.Movie.Name</p>

<h2>Customers</h2>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>
